<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messeger: login</title>
    <style>
            
    </style>
</head>
<body style="background-color: #1a191a;">
    <div style="background-color: #85858c; padding: 5px;">
        <h1 style="color: #4b4b4b;">Login</h1>
    </div>
    {{ additionally | safe }}
    <form action="/" method="POST">
        <label for="username" style="color:white">Username:</label>
        <input type="text" name="username" id="name" autocomplete="off"> <br>
        <label for="username" style="color:white">Password:</label>
        <input type="password" name="password" id="password" password autocomplete="off"> <br>
        <button id="send">login/register</button>
    </form>
</body>
</html>